@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
$p-font : 'Manrope',
sans-serif;


// colors
$orange:#FD552B;
$primary:#FD552B;
$dark: #141B23;
$white : #ffffff;
$text:#4E4E4E;
$light:#F6F6F6;
$black :#000000;